# package directories
jspm_packages

# Serverless directories
**/.serverless
node_modules
/.idea

# VS Code
.vscode
*.code-workspace
.history

# tsc output
dist

#misc
yarn-error.log
*.tgz

# workflow specific files
.envrc

# Jest output
coverage
